
/*=============================
=            mixin            =
=============================*/

.my_transition(@transition){
-ms-transition:  @transition;
-webkit-transition:  @transition;
-moz-transition:  @transition;
 transition: @transition;
}

.my_trasform(@transform){
-o-transform+_: @transform;
-ms-transform+_:@transform;
 -moz-transform+_: @transform;
-webkit-transform+_: @transform ;
 transform+_: @transform ;
}

.my_opacity (@alpha) {
    @ms-alpha : @alpha*100;
    -ms-filter:progid:DXImageTransform.Microsoft.Alpha(opacity=@ms-alpha);
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=@ms-alpha);
    // TODO: fix me
    //filter:~`"alpha(opacity="+@ms-alpha+")"`;
    -moz-opacity: @alpha;
    -khtml-opacity: @alpha;
    opacity: @alpha;
}

.animation(
    @name,
    @duration:@shutter_animation_duration,
    @animation-delay: 0s,
    @count:1,
    @function:linear,
    @animation-play-state:running,
    @animation-fill-mode:both,
    @direction:normal
 ) {
    -webkit-animation-name+: @name;
    -moz-animation-name+: @name;
    -ms-animation-name+: @name;
    -o-animation-name+: @name;
    animation-name+: @name;

    -webkit-animation-duration+: @duration;
    -moz-animation-duration+: @duration;
    -ms-animation-duration+: @duration;
    -o-animation-duration+: @duration;
    animation-duration+: @duration;

    -webkit-animation-iteration-count+: @count;
    -moz-animation-iteration-count+: @count;
    -ms-animation-iteration-count+: @count;
    -o-animation-iteration-count+: @count;
    animation-iteration-count+: @count;

    -webkit-animation-direction+: @direction;
    -moz-animation-direction+: @direction;
    -ms-animation-direction+: @direction;
    -o-animation-direction+: @direction;
    animation-direction+: @direction;

    -webkit-animation-timing-function+: @function;
    -moz-animation-timing-function+: @function;
    -ms-animation-timing-function+: @function;
    -o-animation-timing-function+: @function;
    animation-timing-function+: @function;

    -webkit-animation-play-state+: @animation-play-state;
    -moz-animation-play-state+: @animation-play-state;
    -ms-animation-play-state+: @animation-play-state;
    -o-animation-play-state+: @animation-play-state;
    animation-play-state+: @animation-play-state;

    -webkit-animation-fill-mode+: @animation-fill-mode;
    -moz-animation-fill-mode+: @animation-fill-mode;
    -ms-animation-fill-mode+: @animation-fill-mode;
    -o-animation-fill-mode+: @animation-fill-mode;
    animation-fill-mode+: @animation-fill-mode;

    -webkit-animation-delay+: @animation-delay;
    -moz-animation-delay+: @animation-delay;
    -ms-animation-delay+: @animation-delay;
    -o-animation-delay+: @animation-delay;
    animation-delay+:@animation-delay;
}

.animation_duration(@duration:@thumbnail_anim_duration)
{
     -webkit-animation-duration: @duration;
    -moz-animation-duration: @duration;
    -ms-animation-duration: @duration;
    -o-animation-duration: @duration;
    animation-duration: @duration;
}

.animation_delay(@animation-delay:@two_row_thumbnail_anim_delay){
     -webkit-animation-delay: @animation-delay;
    -moz-animation-delay: @animation-delay;
    -ms-animation-delay: @animation-delay;
    -o-animation-delay: @animation-delay;
    animation-delay:@animation-delay;
}

.transition_cross_trf (@property: all,@duration: 0s,@delay: 0s,@ease: ease-in-out) when (@property=transform) {
    -webkit-transition+: -webkit-transform @duration @delay @ease;
       -moz-transition+:    -moz-transform @duration @delay @ease;
         -o-transition+:      -o-transform @duration @delay @ease;
            transition+:     -ms-transform @duration @delay @ease,
                                 transform @duration @delay @ease;

}


.transition_cross_trf (@property: all,@duration: 0s,@delay: 0s,@ease: ease-in-out) when not (@property=transform) {
    -webkit-transition+: @arguments;
       -moz-transition+: @arguments;
         -o-transition+: @arguments;
            transition+: @arguments;
}

 /*=====  End of mixin  ======*/

h1,
h1,
h2,
h3,
h4,
h5{
font-family: Verdana, Geneva, sans-serif;
}

.wrapper{
background-color: #0C5DA5;
padding: 20px 0px;
overflow: hidden;
}


/*=============================================
=            Left Sidebar            =
=============================================*/
    aside{
    border-right: 1px solid #CCC;
    }
        .photo{
        padding: 0px 15px;
        margin-bottom: 15px;
        }

            img{
            width: 100%;
            }
                .list-group{
                box-shadow: none;

                    &-item{
                    background-color: transparent;
                    border: none;
                    color: #CCC;
                    }

                    &-item-heading{
                    text-transform: capitalize;
                    }
                }

/*=====  End of  Left Sidebar  ======*/


/*=============================================
=            Right Sidebar            =
=============================================*/


/* variables for animation */

@thumbnail_anim_duration: 1.9s;
@two_row_thumbnail_anim_delay: 0.3s;
@third_row_thumbnail_anim_delay: 0.9s;
@start_translate: -100vw;
@end_translate: 20vw;
@shutter_animation_duration: 4s;
// @transition_function: cubic-bezier(0.9, 0.11, 0.48, 0.73);

@transition_function:cubic-bezier(0.22, 0.61, 0.36, 1);



    .my_skills{

        .thumbnail{
        margin-bottom: 23px;
        border-width: 0px;
        text-align: center;
        text-transform: uppercase;
        color: #FFF;
        background-color: #408DD2;
        .animation_duration;
        }

            .fa {
            display: block;
            font-size: 2em;
            line-height: 80px;
            color: #64B6FF;
            .my_transition(0.3s);
            }

            .zoomIn .fa{
            color: white;
            }
    }

    .track{
    position: relative;

        &+div+div .thumbnail{
       .animation_delay;
        }

        &+div+div+div .thumbnail{
        .animation_delay(@third_row_thumbnail_anim_delay);
        }

        .fa{
        display: inline-block;
        position: absolute;
        right: 0;
        top: 0px;
        top: 54px;
        text-align: right;
        line-height: 0px;
        color: #64B6FF;
        .my_opacity (1);
        .my_trasform(translateX(@start_translate));
        .transition_cross_trf(transform, @shutter_animation_duration ,0s ,@transition_function);
        .transition_cross_trf(opacity, 0s ,@shutter_animation_duration ,linear);
        pointer-events: none;
        z-index: 9999;


        &.active{
        .my_opacity (0);
        .my_trasform(translateX(@end_translate));
        }
            &:after{
            position: absolute;
            content: '';
            right: 0;
            top: 1px;
            width: 150vw;
            height: 1px;
            border-radius: 0%;
            background-color: white;
            pointer-events: none;
            .my_transition(all @shutter_animation_duration  0s @transition_function);
            z-index: -1;
            }

            &.active:after{
            display: block;
            .animation(fadeOut);
            }
        }
    }

/*=====  End of Right Sidebar  ======*/


/*==============================
=            Footer            =
==============================*/

footer{
    padding: 30px 0px;
}

.phone {
    background: none repeat scroll 0 0 #0C5DA5;
    font-size: 18px;
    margin: 30px auto;
    padding: 10px;
    text-align: center;
    width: 70%;
    border-radius: 4px;
    color: #FFF;
}
.phone * {
    display: inline-block;
    padding: 0 10px;
}

.contacts{
    list-style: none;
    text-align: center;
}

.contacts li{
     padding-right: 2.5em;
     display: inline-block;
     font-size: 2em;
}



/*=====  End of Footer  ======*/




